<template>
  <div class="home">
    <!-- <img alt="Vue logo" src="../assets/logo.png" /> -->
    <HmoePage msg="Welcome to Your Vue.js App" />
  </div>
</template>

<script>
// @ is an alias to /src
import HmoePage from "@/components/HomePage.vue";

export default {
  name: "Home",
  components: {
    HmoePage
  }
};
</script>