<template>
  <div class="container">
    <div class="row"></div>
    <form @submit.prevent="getFormValues">
      <h4>Add Recipe</h4>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputEmail4">Recipe Name</label>

          <input
            ref="name"
            type="text"
            class="form-control"
            id="inputPassword4"
            placeholder="Name"
          />
        </div>
        <div class="form-group col-md-6">
          <label for="inputPassword4"> Recipe Description</label>
          <input
            ref="desc"
            type="text"
            class="form-control"
            id="inputPassword4"
            placeholder="Desc"
          />
        </div>
      </div>

      <h4>Add Grediants</h4>
      <div class="form-row">
        <div class="col-md-1">
          <div class="form-group" style="text-align: center">
            <button type="button" class="btn btn-secondary" @click="add()">
              +
            </button>
          </div>
        </div>

        <div class="col-md-1">
          <div class="form-group" style="text-align: center">
            <button type="button" class="btn btn-secondary" @click="minus()">
              -
            </button>
          </div>
        </div>
      </div>

      <div
        class="form-row"
        v-for="(gradiant, counter) in gradiants"
        :key="counter"
      >
        <div class="form-group col-md-4">
          <input
            type="email"
            class="form-control"
            disabled
            placeholder="Email"
          />
        </div>
        <div class="form-group col-md-4">
          <select
            @change="onChange($event, counter)"
            id="select"
            class="form-control"
          >
           <option v-for="option in options" v-bind:key="option.in_id" v-bind:value="option.in_id">
              {{ option.in_name }}
            </option>
          </select>
        </div>
        <div class="form-group col-md-4">
          <input
            @blur="handleBlur(counter, gradiant.qty)"
            type="text"
            class="form-control"
            v-model="gradiant.qty"
            placeholder="Ammount"
          />
        </div>
      </div>

      <button type="submit" class="btn btn-primary">Add</button>
    </form>
  </div>
</template>
<script>
import RepoService from "@/service/ApiService";
export default {
  components: {},
  data() {
    return {
      gradiants: [
        // {
        //   index: "",
        //   id: "",
        //   qty: "",
        // },
      ],
      reposData: [],
      gradiantsList: [],

      options: [],
      allGradients: [],
      selected: "",
    };
  },
  created() {
    this.getAllIngrediants();
    this.getAllRecipes();
  },
  methods: {
    getAllRecipes() {
      // Organisation's repositories
      RepoService.getAllRecipes().then((response) => {
        this.reposData = response.data.recipes.data;
      });
      console.log("ssssssssssssssssssssssssssssssssssss");
      console.log(this.reposData);
    },
    handleBlur(counter, qty) {
      if (this.gradiantsList[counter] == undefined) {
        this.gradiantsList[counter] = {
          ingredientId: this.selected,
          qty: parseFloat(qty),
        };
      } else {
        //console.log(this.selected);
        //   console.log(counter);
        //   console.log(this.gradiantsList[counter]);
        console.log("AAAAAAAAAAAAAAAAAAAAAAAAAAAAAA");
                console.log(event);

        console.log(parseFloat(qty));
        console.log(counter);
        console.log(this.gradiantsList);
        this.gradiantsList[counter].qty = parseFloat(qty);
      }
    },
    onChange(event, counter) {
      if (this.gradiantsList[counter] === undefined) {
        this.gradiantsList[counter] = {
          ingredientId: parseInt(event.target.value),
          qty: 0,
        };
        console.log("////////////////////");
        console.log(event);
        console.log(event.target.value);
      } else {
        console.log("AAAAAAAAAAAAAAAAAAAAAAAAAAAAAA");
        console.log(event.target.value);

        this.gradiantsList[counter].ingredientId = parseInt(event.target.value);
      }
      console.log(this.gradiantsList);
    },

    deleteVisa(counter) {
      this.applicants.splice(counter, 1);
    },

    getAllIngrediants() {
      // Organisation's repositories
      RepoService.getAllIngrediants().then((response) => {
        this.options = response.data.ingredients.data;
        //this.selectd=response.data.ingredients[0].in_id;

        this.selected = response.data.ingredients.data[0].in_id;
        console.log("ssssssssssssssss");
        console.log(this.options);
      });
    },
    add() {
      this.gradiants.push({
        // index: "",
        // previous: "",
        // expiration: "",
      });
    },
    minus() {
      this.gradiants.pop();
    },
    getFormValues() {
  
      RepoService.addNewRecie(
        this.$refs.name.value,
        this.$refs.desc.value,
        this.gradiantsList
      ).then((response) => {
        console.log("ssssssssssssssss");
        console.log();
        if (response.status) {
          alert("recipe added successfully");
          this.$router.push({ name: 'Home' });
        } else {
          alert("recipe not added successfully");
        }
        console.log("ssssssssssssssss");
      });
    },
  },
};
</script>
