<template>
  <div class="container">
    <h4>Recipe Managment</h4>
    <div class="row">
      <button type="button" class="btn btn-primary" @click="addNewRecipe()">
        Add New Recipe
      </button>
    </div>
    <div class="row">
      
      <div class="col">
        <div class="tbl-header">
          <!--Repositories List-->
          <table cellpadding="0" cellspacing="0" border="0" class="table">
            <thead>
              <tr>
                <th>#</th>
                <th>id</th>
                <th>Name</th>
                <th>Measure</th>
                <th>Edit</th>
                <th>Delete</th>
              </tr>
            </thead>

            <tbody>
              <tr v-for="(rep, index) in reposData" v-bind:key="rep.id">
                <td scope="row">{{ index + 1 }}</td>
                <td>{{ rep.r_id }}</td>
                <td>{{ rep.r_name }}</td>
                <td>{{ rep.r_description }}</td>
                <td>
                  <button
                    type="button"
                    @click="onClickRow(rep, index)"
                    class="btn btn-link"
                  >
                    Edit
                  </button>
                </td>
                <td>
                  <button
                    type="button"
                    @click="onDeleteRow(rep, index)"
                    class="btn btn-link"
                  >
                    Delete
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import RepoService from "@/service/ApiService";

export default {
  name: "HmoePage",
  props: {
    msg: String
  },
  data() {
    return {
      reposData: []
    };
  },
  created() {
    this.getAllRecipes();
  },
  methods: {
    
    getAllRecipes() {
      // Organisation's repositories
      RepoService.getAllRecipes().then(response => {
        this.reposData = response.data.recipes.data;
      });
    },
    onClickRow(repository, index) {
      console.log("ccccccccccccc");
      console.log(index);
      console.log(repository);
      console.log(repository.in_id);
      this.$router.push({
        name: "recipeDetails",
        query: { id: repository.r_id }
      });
      this.repositorySelected = repository;
    },
    onDeleteRow(repository) {
      if (confirm("Do you really want to delete?")) {
        // console.log("ssaaaas");
        // console.log(repository.r_id);
        // console.log(index);
        RepoService.deleteRow(repository.r_id).then((response) => {
          console.log("AA");
          console.log(repository.r_id);
          console.log(response);

          if (response.status) {
            alert("deleted successfully");
            window.location.reload();
          } else {
            alert("deleted not successfully");
          }
        });
      }
    },addNewRecipe() {
      this.$router.push({ name: "addNewRecipe" });
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
