<template>
  <div class="container">
    <h4>Recipe Basic Information</h4>
    <div class="row"></div>
    <form @submit.prevent="getFormValues">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputPassword4">Recipe Name</label>
          <input
            type="text"
            ref="name"
            class="form-control"
            id="inputPassword4"
            placeholder="name"
            v-model="name"
          />
        </div>
        <div class="form-group col-md-6">
          <label for="inputPassword4">Recipe Desc</label>
          <input
            type="text"
            ref="desc"
            class="form-control"
            id="inputPassword4"
            placeholder="desc"
            v-model="desc"
          />
        </div>
      </div>
      <div class="form-row">

        <div class="form-group col-md-12">
                        <h4>Add Grediants</h4>

          <table class="table">
            <thead>
              <tr>
                <th>Name</th>
                <th>Ammount</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="gradiant in gradiantsList" :key="gradiant.ri_id">
                <td>
                  <select
                    disabled
                    @change="onChange($event, counter)"
                    id="select"
                    class="form-control"
                  >
                    <option selected></option>
                    <option
                      v-for="option in options"
                      :selected="gradiant.ri_ingredient_id === option.in_id"
                      v-bind:value="option.in_id"
                      :key="option.in_id"
                    >
                      {{ option.in_name }}
                    </option>
                  </select>
                </td>
                <td>
                  <input
                    type="text"
                    class="form-control"
                    id="inputPassword4"
                    placeholder="name"
                    v-model="gradiant.ri_amount"
                  />
                </td>
              </tr>
            </tbody>
          </table>
          <button type="submit" class="btn btn-primary">Edit</button>
        </div>
      </div>
    </form>
  </div>
</template>
<script>
import RepoService from "@/service/ApiService";
export default {
  components: {},
  data() {
    return {
      gradiantsList: [],
      gradiantsListToInsert: [],
      options: [],
      allGradients: [],
      name: "",
      desc: "",
    };
  },
  created() {
    console.log("11111111111111111111111111");

    this.getREcipeById();
    this.getAllIngrediants();
  },
  methods: {
    getAllIngrediants() {
      // Organisation's repositories
      RepoService.getAllIngrediants().then((response) => {
        this.options = response.data.ingredients.data;
        console.log("sssssssssssssssssssssssssssss");

        //this.selectd=response.data.ingredients[0].in_id;
      });
    },
    getFormValues() {
      for (let index = 0; index < this.gradiantsList.length; index++) {
        this.gradiantsListToInsert[index] = {
          ingredientId: this.gradiantsList[index].ri_ingredient_id,
          qty: parseFloat(this.gradiantsList[index].ri_amount),
        };
      }
      console.log(this.gradiantsListToInsert);
      console.log("ssssssssssssssss");
      console.log(this.$refs.name.value);
      console.log(this.$refs.desc.value);
      console.log(this.gradiantsListToInsert);
      RepoService.updateRecipeInfo(
        this.$route.query.id,
        this.$refs.name.value,
        this.$refs.desc.value,
        this.gradiantsListToInsert
      ).then((response) => {
        if (response.status) {
          alert("recipe added successfully");
          this.$router.push({ name: "Home" });
        } else {
          alert("recipe not added successfully");
        }
      });
    },
    getREcipeById() {
      // Organisation's repositories
      RepoService.getREcipeById(this.$route.query.id).then((response) => {
        console.log(response.data.recipeBasicInfo.r_name);
        this.name = response.data.recipeBasicInfo.r_name;
        this.desc = response.data.recipeBasicInfo.r_description;
        console.log("ssssssssssssssss111111111111111111111111");
        console.log(response.data.recipeIngrediants);
        this.gradiantsList = response.data.recipeIngrediants;
        console.log("aaaasssss");
        console.log(this.gradiantsList);
      });
    },
  },
};
</script>